.App-header {
    margin: 5%;
}

.App-header h3 {
    color: white;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.App-header h4 {
    color: lightcyan;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}